
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Hé, jij daar</h2>
    @ViewBag.Groet

    <p>Hier kun je de lijst van groenten zien</p>
    <a asp-controller="Home" asp-action="Groenten">Groenten</a>

    <p>Hier kun je de lijst van studenten zien</p>
    <a asp-controller="Home" asp-action="Student">Studenten</a>
</body>
</html>
